*.out
*.toc
*.aux
*.bbl
*.blg
*.log
article.pdf
expose.pdf
presentation.pdf
Modele-latence-2.pdf
infocom.pdf
infocom_long.pdf
resume_mael_guiraud.pdf
memoire.pdf
sujet-these-latence.pdf
Sujet-latence-3.pdf
*.backup
*.o
*.txt
*.dot
*.ps
*.nav
*.snm
main
prog
