greedy.pdf
model.pdf
times.pdf
impl.pdf
*.out
*.toc
*.aux
*.bbl
*.blg
*.log
article.pdf
expose.pdf
presentation.pdf
Modele-latence-2.pdf
infocom.pdf
infocom_long.pdf
resume_mael_guiraud.pdf
memoire.pdf
sujet-these-latence.pdf
Sujet-latence-3.pdf
version_longue.pdf
ict.pdf
*.backup
*.o
*.txt
*.dot
*.ps
*.nav
*.snm
main
prog
/code\ Article/datas/graphes/*
*.data
res
compil
*.O
*.dSYM
/arbres/data/*
view.pdf
topol.py
/arbres/pdfs/*
/arbres/gnuplot/*
/arbres/src/callgrind*
logs.txt
/arbres/view/*.json
/arbres/view/assignments/*
/arbres/view/graph*
/arbres/src/bin/*
arbres/src/rapport/
arbres/src/rapport.info
/code\ Article/Algos\ Greedy/success.pdf
/code\ Article/Algos\ Greedy/longsmess
/code\ Article/Algos\ Greedy/*.plot
/Tex\ Papier/depth2/voisinage.pdf
/code\ Article/Algos\ Greedy/LargeMessages/*.pdf

