versionlongue.pdf
greedy.pdf
model.pdf
times.pdf
impl.pdf
*.vtc
*.out
*.toc
*.aux
*.bbl
*.blg
*.log
article.pdf
expose.pdf
presentation.pdf
Modele-latence-2.pdf
infocom.pdf
infocom_long.pdf
resume_mael_guiraud.pdf
memoire.pdf
sujet-these-latence.pdf
Sujet-latence-3.pdf
version_longue.pdf
ict.pdf
*.backup
*.o
*.txt
*.dot
*.ps
*.nav
*.snm
main
prog
/code\ Article/datas/graphes/*
*.data
res
compil
*.O
*.dSYM
/arbres/data/*
view.pdf
topol.py
/arbres/pdfs/*
/arbres/gnuplot/*
/arbres/src/callgrind*
logs.txt
/arbres/view/*.json
/arbres/view/assignments/*
/arbres/view/graph*
/arbres/src/bin/*
arbres/src/rapport/
arbres/src/rapport.info
/code\ Article/Algos\ Greedy/success.pdf
/code\ Article/Algos\ Greedy/longsmess
/code\ Article/Algos\ Greedy/*.plot
/Tex\ Papier/depth2/voisinage.pdf
/code\ Article/Algos\ Greedy/LargeMessages/*.pdf

*.plot
Code Article/Algos Greedy/LargeMessages/*
Code Article/Algos Greedy/Messages of size 1/*
Code Article/datas/*.pdf

Tex Papiers/Greedy_load/ISAAC/greedy.dvi
Tex Papiers/SujetThese/Version Septembre 2017/.~lock.sujet.docx#
Tex Papiers/planthese/plan.pdf
Tex Presentations/nokiaseminaire/SlidesGuiraud.pdf
arbres/recuittrace/
arbres/src/aaa
arbres/src/atester
arbres/src/core
arbres/src/datatau.c
arbres/src/distribtau.pdf
arbres/src/districomputed
arbres/src/distrideadline
arbres/src/distridistrib
arbres/src/distrififo
arbres/src/distrififo2
arbres/src/g
arbres/src/g.gcno
arbres/src/logs
arbres/src/logs_multiplexing->txt
arbres/src/max.pdf
arbres/src/maxdistrib.pdf
arbres/src/moy.pdf
arbres/src/plotrecuit
arbres/src/plotrecuittemp
arbres/src/random_inters.c
arbres/src/random_inters.h
arbres/src/resdistrib.gplt
arbres/src/resmult
arbres/src/resmult40
arbres/src/resmult40solo
arbres/src/resmult40solodistrib
arbres/src/resmult60
arbres/src/resmult60 solo
arbres/src/resmult6020distrib
arbres/src/resmult60be
arbres/src/resmult60bedeadline
arbres/src/resmult60solo
arbres/src/resmult81solo
arbres/src/resmult85
arbres/src/resmult852
arbres/src/resmult95solo
arbres/src/resmult95solodistrib
arbres/src/restaumodif
arbres/src/resulttime
arbres/src/resulttime.pdf
arbres/src/resulttime_compact.pdf
arbres/src/resulttime_noncomapct.pdf
arbres/src/logs*
arbres/src/diff
arbres/src/nb_routes
arbres/src/*.pdf
*.synctex.gz
Manuscript.pdf
Manuscript.brf
Manuscript.maf
*.mtc*
Manuscript.run.xml
Manuscrit/Manuscript-blx.bib
Manuscript.lof
Manuscrit/Manuscrit.pdf